@font-face {
  font-family: 'easybank';
  src: url('./assets/fonts/easybank.eot');
  src: url('/assets/fonts/easybank.eot#iefix') format('embedded-opentype'),
    url('/assets/fonts/easybank.ttf') format('truetype'),
    url('/assets/fonts/easybank.woff') format('woff'),
    url('/assets/fonts/easybank.svg#easybank') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
