.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.sm-only {
  @include responsive(M) {
    display: none !important;
  }
}

.lg-only {
  @include responsive(D) {
    display: none !important;
  }
}

.sm-hidden {
  @include responsive(M) {
    display: none !important;
  }
}

.lg-hidden {
  @include responsive(D) {
    display: none !important;
  }
}
