.about {
  @include column-flexbox;
  text-align: center;
  position: relative;
  top: 10px;
  background-color: $light-grayish-blue;
  padding: 62px 24px;

  &-introduce {
    margin-bottom: 56px;

    &-title {
      @include text-style(32);
      font-weight: 300;
      color: $dark-blue;
      margin-bottom: 14px;
    }

    &-description {
      @include text-style(15);
      max-width: 450px;
      color: $grayish-blue;
    }
  }

  &-benefits-list {
    margin-bottom: 32px;
    width: 327px;
    height: 215px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      width: 72px;
      height: 72px;
      margin-bottom: 24px;
    }

    &-title {
      @include text-style(20, $dark-blue);
      font-weight: 300;
      margin-bottom: 16px;
    }

    &-description {
      @include text-style(15, $grayish-blue);
      font-weight: 400;
      max-width: 450px;
    }
  }
}

@include responsive(D) {
  .about {
    text-align: left;
    position: absolute;
    top: 610px;
    width: 100vw;
    padding: 96px 0;
    margin-top: 0;

    &-introduce {
      position: relative;
      right: 245px;
      margin-bottom: 72px;

      &-title {
        @include text-style(40);
        margin-bottom: 16px;
      }

      &-description {
        @include text-style(18);
      }
    }

    &-benefits {
      @include flexbox;
    }

    &-benefits-list {
      margin-right: 30px;
      width: 215px;
      height: 278px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 32px;
      }

      &-img {
        margin-bottom: 40px;
      }

      &-title {
        @include text-style(24);
        margin-bottom: 26px;
      }

      &-description {
        @include text-style(16);
      }
    }
  }
}
