.article {
  padding: 88px 24px;
  background-color: $very-light-gray;

  &-title {
    @include text-style(32, $dark-blue);
    font-weight: 300;
    text-align: center;
    margin-bottom: 31px;
  }

  &-content {
    display: flex;
    flex-direction: column-reverse;
    width: 327px;
    height: auto;
    background-color: $white;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 24px;

    img {
      width: 327px;
      height: 200px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &-title {
      @include text-style(16, $dark-blue);
      font-weight: 300;
      margin-bottom: 8px;
    }

    &-author {
      @include text-style(10);
      font-weight: 400;
      margin-bottom: 8px;
    }

    &-description {
      @include text-style(13);
      font-weight: 400;
      margin-bottom: 24px;
    }
  }

  &-group {
    padding: 24px 31px;

    &-title {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@include responsive(D) {
  .article {
    @include pos-center-x;
    top: 1331px;
    padding: 80px 165px;

    &-title {
      @include text-style(64);
      font-weight: 300;
      text-align: left;
      margin-bottom: 40px;
    }

    &-content {
      width: 17vw;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 17vw;
        height: 13vw;
      }
      &-title {
        @include text-style(15);
      }

      &-description {
        margin-bottom: 0;
        width: 14vw;
      }
    }

    &-feature {
      @include flexbox;
    }

    &-group {
      padding: 24px 20px;
    }
  }
}
