// Responsive
@mixin responsive($screen) {
  @if ($screen =='M') {
    @media screen and (max-width: $md-breakpoint) {
      @content;
    }
  }
  @if ($screen =='D') {
    @media screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }
}

// Text-style
@mixin text-style-10() {
  font-size: $font-size-10;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-10;
}

@mixin text-style-14() {
  font-size: $font-size-14;
  line-height: $line-height-14;
  letter-spacing: $letter-spacing-14;
}

@mixin text-style-13() {
  font-size: $font-size-13;
  line-height: $line-height-13;
  letter-spacing: $letter-spacing-13;
}

@mixin text-style-15() {
  font-size: $font-size-15;
  line-height: $line-height-15;
  letter-spacing: $letter-spacing-15;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  line-height: $line-height-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-18() {
  font-size: $font-size-18;
  line-height: $line-height-18;
  letter-spacing: $letter-spacing-18;
}

@mixin text-style-20() {
  font-size: $font-size-20;
  line-height: $line-height-20;
  letter-spacing: $letter-spacing-20;
}

@mixin text-style-24() {
  font-size: $font-size-24;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-24;
}

@mixin text-style-32() {
  font-size: $font-size-32;
  line-height: $line-height-32;
  letter-spacing: $letter-spacing-32;
}

@mixin text-style-40() {
  font-size: $font-size-40;
  line-height: $line-height-40;
  letter-spacing: $letter-spacing-40;
}

@mixin text-style-56() {
  font-size: $font-size-56;
  line-height: $line-height-56;
  letter-spacing: $letter-spacing-56;
}

@mixin text-style($size, $color: false) {
  @if ($size ==10) {
    @include text-style-10;
  }

  @if ($size ==14) {
    @include text-style-14;
  }

  @if ($size ==13) {
    @include text-style-13;
  }

  @if ($size ==15) {
    @include text-style-15;
  }

  @if ($size ==16) {
    @include text-style-16;
  }

  @if ($size ==18) {
    @include text-style-18;
  }

  @if ($size ==20) {
    @include text-style-20;
  }

  @if ($size ==24) {
    @include text-style-24;
  }

  @if ($size ==32) {
    @include text-style-32;
  }

  @if ($size ==40) {
    @include text-style-40;
  }

  @if ($size ==56) {
    @include text-style-56;
  }

  @if (type-of($color)==color) {
    color: $color;
  }
}

// Positions
@mixin pos-center-x($type: absolute) {
  @if ($type ==fixed or $type ==absolute) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin pos-center-Y($type: absolute) {
  @if ($type ==fixed or $type ==absolute) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin pos-center-x($type: absolute) {
  @if ($type ==fixed or $type ==absolute) {
    position: $type;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Flexbox
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}